<!DOCTYPE html>
<html>
  <head>
    <title>Blog Pages</title>
   <hr/>
    <%= link_to "New Page",  %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
